@{
    ViewData["Title"] = "Contato";
}

<div class="links-contato">
    <img class="img-main" src="~/img/back_contato.svg" alt="">
    <a class="img-message" target="_blank" href="https://api.whatsapp.com/send?phone=11989915309"><img src="~/img/message.svg" alt=""></a>
    <a class="img-email" target="_blank" href="mailto:jovi.oli04@gmail.com"><img src="~/img/email_contato.svg" alt=""></a>
    <a class="img-phone" target="_blank" href=""><img src="~/img/phone.svg" alt=""></a>
</div>
