@{
    ViewData["Title"] = "Sobre";
}

<div class="svg-sobre">
    <img src="~/img/mobile-app.svg" alt="">
</div>

<div class="text-sobre">
    <p>Movido pela <span class="text-salmon">curiosidade</span> em saber  como as coisas eram feitas e como funcionavam, descobri o universo da <span class="text-salmon">programação</span>. <br> <br>
    
    Maravilhado com as possibilidades busquei me aprofundar e conhecer cada vez mais. Dessa forma, ingressei no curso <span class="text-salmon">Técnico de Desenvolvimento de Distemas</span>.</p>
</div>