@{
    ViewData["Title"] = "Projetos";
}

<div class="projeto-instadev">
    <h1>InstaDev's</h1>
</div>

<div class="projeto-eplayers">
    <h1>E-Players</h1>
</div>

<div class="projeto-sabesp">
    <h1>SABESP</h1>
</div>