@{
    ViewData["Title"] = "Home";
}

<div class="apresentacao">
    <span class="ola">Olá,<br>Sou o João Vitor.</span>
    <span class="dev">Desenvolvedor FullStack</span>
    <ul class="contato-home">
        <li><a target="_blank" href="https://github.com/JoVi0li"><img src="~/img/github.svg" alt=""></a></li>
        <li><a target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><img src="~/img/email.svg" alt=""></a></li>
    </ul>
</div>
<div class="svg-home">
    <img src="~/img/img-home.svg" alt="">
</div>